<?php $this->load->view("header/header.html")?>
                
                <div class="content minHeight">
                
                	<h4 class="titleALl">TOUR nước ngoài</h4>
                    
                    <div class="pageDetail ">
                    
                    	<h4 class="titleDetail">Ấn Độ - Nepal</h4>
                        <div class="direction">
                        	Khởi hành từ Sài Gòn<br />
                            Giá: 13.000.789 VNĐ/khách<br />
                            Phương tiện đi về bằng máy bay<br />
                            Khởi hành: 21/02/2012<br />
                        </div>
                        <div class="padT"><a href="#" class="bntBookTour">Đặt Tour</a></div>
                        <div class="clr padT10"></div>
                        
                        <div class="txtD">
                        	<img src="images/pic/tour.jpg" width="252" height="121" class="imgL" />
                        	<div class="title">Fusce interdum. Maecenas </div>
sagittis. Fusce elit ligula,  Aenean. Sed laoreet. Aenean pede. Phasellus porta. Ut dictum nonummy diam. Sed a leo. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sito. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sit sagittis. Fusce elit ligula,  Aenean. Sed laoreet. Aenean pede. Phasellus porta. Ut dictum nonummy diam. Sed a leo. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sito. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sitsagittis. Aenean pede. Phasellus porta. Ut dictum nonummy diam. Sed a leo. Cras ullamcorper nibh. Sed laoreet. <br /><br />
Aenean. Sed laoreet. Aenean pede. Phasellus porta. Ut dictum nonummy diam. Sed a leo. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sito. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sit sagittis. Fusce elit ligula,  Aenean. Sed laoreet. Aenean pede. Phasellus porta. Ut dictum nonummy diam. Sed a leo. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sito. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sitsagittis. Aenean pede. Phasellus porta. Ut dictum nonummy diam. Sed a leo. Cras ullamcorper nibh. Sed laoreet. 
<br /><br />
Aenean. Sed laoreet. Aenean pede. Phasellus porta. Ut dictum nonummy diam. Sed a leo. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sito. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sit sagittis. Fusce elit ligula,  Aenean. Sed laoreet. Aenean pede. Phasellus porta. Ut dictum nonummy diam. Sed a leo. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sito. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sitsagittis. Aenean pede. Phasellus porta. Ut dictum nonummy diam. Sed a leo. Cras ullamcorper nibh. Sed laoreet. <br /><br />
<img src="images/pic/tour.jpg" width="252" height="121" class="imgR" />
                        
sagittis. Fusce elit ligula,  Aenean. Sed laoreet. Aenean pede. Phasellus porta. Ut dictum nonummy diam. Sed a leo. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sito. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sit sagittis. Fusce elit ligula,  Aenean. Sed laoreet. Aenean pede. Phasellus porta. Ut dictum nonummy diam. Sed a leo. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sito. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sitsagittis. Aenean pede. Phasellus porta. Ut dictum nonummy diam. Sed a leo. Cras ullamcorper nibh. Sed laoreet. 
                      </div>
                        
                    </div> 
                
                </div>
                
                
                
            
			</div>
            <!-- en main left -->
            
            <!-- main right -->
            <?php $this->load->view("menu/right_side.html")?>
                
	<!-- en bodymain -->
    
    <!-- footer -->
	<?php $this->load->view ("footer/footer.html")?>