<?php $this->load->view("header/header.html")?>
                
                <div class="content minHeight">
                
                	<h4 class="titleALl">TOUR nước ngoài</h4>
                    
                    <div class="pageDetail ">
                    
                    	<div class="blogTourTab">
                        	<table width="100%" border="1" cellpadding="3">
                              <tr class="rowTop">
                                <td>Chương trình</td>
                                <td>Số ngày</td>
                                <td>Giá (VNĐ)</td>
                                <td>Ngày đi</td>
                                <td>Ngày về</td>
<!--                                <td>Chuyến bay đi</td>-->
                                <td>Giờ đi</td>
                                <td>Giờ đến</td>
                                <td>Số chỗ còn nhận</td>
                                
                              </tr>
                              <?php foreach($tour as $index => $one) {?>
                              <?php if($one['hide'] == 0) {?>
                              	<tr>                          
                                <td class="titleT"><a style="color:black" href="chitiet/<?php echo $one['id'] ?>/nuocngoai"><?php echo $diemkhoihanh[$one['id_diem_khoi_hanh']].'-'. $diemden[$one['id_diem_den']]; ?></a></td>
                                <td><?php echo $one['so_ngay']?></td>
                                <td><?php echo $one['gia_tour']?></td>
                                <td><?php echo date('d-m-Y',$one['ngay_di'])?></td>
                                <td><?php echo date('d-m-Y',$one['ngay_ve'])?></td>
<!--                                <td><?php echo $one['ma_so_phuong_tien']?></td>-->
                                <td><?php echo date('H:i',$one['gio_di'])?></td>
                                <td><?php echo date('H:i',$one['gio_den'])?></td>
                                <td>9<br /><a href="javascript:order_tour(<?php echo $one['id']?>)" class="bntB2" style="color:white">ĐặtTour</a>
                              
                                </td>
                                
                              </tr>
                              <?php } }?>
                           
                            </table>

                        </div>
                        
                        <div class="pageNum alignR padT20"><a href="#" class="active">1</a>   <a href="#">2</a>   <a href="#">3</a>   <a href="#">4</a>.... <a href="#">7</a> <a href="#">>></a></div>
                    
                    </div>	
                
                </div>
                
                
                
            
			</div>
            <!-- en main left -->
            
            <!-- main right -->
            <?php $this->load->view("menu/right_side.html")?>
                
	<!-- en bodymain -->
    
    <!-- footer -->
	<?php $this->load->view ("footer/footer.html")?>