<?php $this->load->view("header/header.html")?>
<script>var DIR_AJAX_TRAVEL = "<?php echo DIR_AJAX_TRAVEL ?>";</script>
<link href="<?php echo DIR_CSS_ENTERPRISE ?>jquery.ui.datepicker.css" rel="stylesheet" type="text/css" />
<script src="<?php echo DIR_JS_ENTERPRISE ?>jquery.ui.core.js" type="text/javascript"></script>
<script src="<?php echo DIR_JS_ENTERPRISE ?>jquery.ui.datepicker.js" type="text/javascript"></script>
<script src="<?php echo DIR_JS_ENTERPRISE ?>jquery.meio.mask.js" type="text/javascript"></script>	
<script>
$(function () {
	$('#dienthoai').setMask({
		mask:'999999999999',
		type : 'reverse'
	})
	$('#ngaydi').datepicker({dateFormat: 'dd-mm-yy'});
	$('#ngayve').datepicker({dateFormat: 'dd-mm-yy'});
	$('#motchieu').click(function(){
		if($('#motchieu').attr('checked') == true)
			$('#haichieu').attr('checked',false);
		else
			$('#haichieu').attr('checked',true);
	});
	$('#haichieu').click(function(){
		if($('#haichieu').attr('checked') == true)
			$('#motchieu').attr('checked',false);
		else
			$('#motchieu').attr('checked',true);
	});
	$('#trongnuoc').click(function(){
		if($('#trongnuoc').attr('checked') == true)
			$('#quocte').attr('checked',false);
		else
			$('#quocte').attr('checked',true);
	});
	$('#quocte').click(function(){
		if($('#quocte').attr('checked') == true)
			$('#trongnuoc').attr('checked',false);
		else
			$('#trongnuoc').attr('checked',true);
	});
	ngaydi = $('#ngaydi').datepicker('getDate');
	$("#ngayve" ).datepicker( "option","minDate", ngaydi);

});
</script>                
                <div class="content">
                
                	<h4 class="titleALl">Vé máy bay</h4>
                    
                    <!-- blog booking -->
                    <div class="boxBooking boderRadius">
                    	<h4 class="title">Đặt vé online</h4>
                        <div class="colL">
                        	<div class="padT10"><input name="" type="checkbox" value="" id="trongnuoc" checked/> Đặt vé máy bay trong nước</div>
                            <label>Điểm khởi hành</label> 
                            	<select name="" id="diemkhoihanh"class="selS">
                            		<?php foreach ($diemkhoihanh as $index => $one){?>
                            			<option value="<?php echo $one['id'] ?>"><?php echo $one['ten_dia_diem'] ?></option>
                            		<?php }?>                     
                            	</select><br />
                            <label>Ngày đi</label> <input type="text" class="inpSB" id="ngaydi" value="<?php echo date('d-m-Y',$now)?>"/><br />
                            <label>Ngày về</label> <input type="text" class="inpSB" id="ngayve" value="<?php echo date('d-m-Y',$now)?>"/><br />
                            <label>Họ Tên</label> <input type="text" class="inpSB" id="hoten"/><br />
                            <div class="padT10"><input name="loaivemaybay" type="checkbox" id="motchieu" value="1" checked/>  Một chiều</div>
                        </div>
                        <div class="colR">
                        	<div class="padT10"><input name="" type="checkbox" value="" id="quocte"/> Đặt vé máy bay quốc tế</div>
                            <label>Điểm đến</label> 
                            	<select name="" class="selS" id="diemden">
                            		<?php foreach ($diemden as $index => $one){?>
                            			<option value="<?php echo $one['id'] ?>"><?php echo $one['ten_dia_diem'] ?></option>
                            		<?php }?> 
                            	</select><br />
                            <label>Giờ dự kiến</label> 
                            <select name="" class="selS" id="giodukien_di">
                            <?php for($i = 0; $i <24 ; $i++){?>
                            	<option value="<?php echo $i ?>"><?php echo $i ?>h</option>
                            <?php } ?>	
                            </select><br />
                            <label>Giờ dự kiến</label> 
                            <select name="" class="selS" id="giodukien_den">
                            	<?php for($i = 0; $i <24 ; $i++){?>
                            	<option value="<?php echo $i ?>"><?php echo $i ?>h</option>
                            <?php } ?>	
                            </select><br />
                            <label>Điện thoại</label> <input type="text" class="inpSB2" id="dienthoai"/> Email <input id="email"type="text" class="inpSB2" /><br />
                            <div class="padT10"><input name="loaivemaybay" type="checkbox" id="haichieu"value="2" />  Khứ hồi <input type="button" id="datvemaybay_submit"class="bntBK" value="Đặt Vé Máy Bay" /></div>
                        </div>
                        <div class="clr"></div>
                    </div>
                    <!-- en blog booking -->
                    <?php if($banggia['hide'] == 0){?>
                    <div class="padT25"><a href="<?php echo $banggia['link']?>" class="download">Download Bảng giá mới nhất</a></div>
                    <?php }?>
                    <!-- blog news -->
                    <div class="boxNewsTick boderRadius">
                    	<div class="col">
                        	<h4 class="titleALl">Mua Vé Máy Bay</h4>
                            <ul class="listOther">
                            	<?php foreach($info_muavemaybay as $index => $one) {?>
                            		<?php if($one['hide'] == 0){?>
                            			<li><a href="<?php $one['link']?>"><?php echo $one['title']?></a></li>
                            		<?php }?>
                            	<?php }?>
                             
                            </ul>
                        </div>
                        <div class="col">
                        	<h4 class="titleALl">Qui Định Hàng Không</h4>
                            <ul class="listOther">
                            	<?php foreach($info_quydinhhangkhong as $index => $one) {?>
                            		<?php if($one['hide'] == 0){?>
                            			<li><a href="<?php $one['link']?>"><?php echo $one['title']?></a></li>
                            		<?php }?>
                            	<?php }?>
                            </ul>
                        </div>
                        <div class="col">
                        	<h4 class="titleALl">Trước Chuyến Bay</h4>
                            <ul class="listOther">
                                <?php foreach($info_truocchuyenbay as $index => $one) {?>
                            		<?php if($one['hide'] == 0){?>
                            			<li><a href="<?php $one['link']?>"><?php echo $one['title']?></a></li>
                            		<?php }?>
                            	<?php }?>
                            </ul>
                        </div>
                        <div class="clr"></div>
                    </div>
                    <!-- en blog news -->
                
                </div>
                
                
                <div class="bannerB"><a href="#"><img src="images/pic/bannerBottom2.jpg" /></a></div>
            
			</div>
            <!-- en main left -->
            
            <!-- main right -->
            <?php $this->load->view("menu/right_side.html")?>
                
	<!-- en bodymain -->
    
    <!-- footer -->
	<?php $this->load->view ("footer/footer.html")?>
