<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>:::: VIETNAM TRAVEL ::::</title>
<link href="css/setup.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script>var DIR_AJAX_TRAVEL = "<?php echo DIR_AJAX_TRAVEL ?>";</script>
<script src="<?php echo DIR_JS_ENTERPRISE ?>show_flash.js" type="text/javascript"></script>
<script src="<?php echo DIR_JS_ENTERPRISE ?>jquery.min.js" type="text/javascript"></script>
<script src="<?php echo DIR_JS_ENTERPRISE ?>function.js" type="text/javascript"></script>
</head>

<body>

<div class="bgIntro">
	
    <div class="langH"><a href="#" class="icoEn"></a><a href="#" class="icoVn"></a></div>
    
  <div class="logoH">
  	<script> ShowFlash('movie','flash/logo.swf',370,85,'always','transparent','high','middle')</script>
  </div>
    
    <div class="menuIntro">
    	<a href="home" class="menu1"></a>
        <a href="duhoc" class="menu2"></a>
        <a href="vemaybay" class="menu3"></a>
        <a href="dichvu" class="menu4"></a>
  </div>
    
    <div class="blogGallery">
    	
      <div class="listGallery">
        	<div class="picThumb position01"><a id="1" href="#"><img src="images/pic/gal01.jpg" /></a></div>
            <div class="picThumb position02"><a id="2" href="#"><img src="images/pic/gal02.jpg" /></a></div>
            <div class="picThumb position03"><a href="#"><img src="images/pic/gal03.jpg" /></a></div>
            <div class="picThumb position04"><a href="#"><img src="images/pic/gal04.jpg" /></a></div>
            <div class="picThumb position05"><a href="#"><img src="images/pic/gal05.jpg" /></a></div>
            <div class="picThumb position06"><a href="#"><img src="images/pic/gal06.jpg" /></a></div>
            <div class="picThumb position07"><a href="#"><img src="images/pic/gal07.jpg" /></a></div>
            <div class="picThumb position08"><a href="#"><img src="images/pic/gal08.jpg" /></a></div>
            <div class="picThumb position09"><a href="#"><img src="images/pic/gal09.jpg" /></a></div>
            <div class="picThumb position10"><a href="#"><img src="images/pic/gal10.jpg" /></a></div>
            <div class="picThumb position11"><a href="#"><img src="images/pic/gal11.jpg" /></a></div>
            <div class="picThumb position12"><a href="#"><img src="images/pic/gal12.jpg" /></a></div>
            <div class="picThumb position13"><a href="#"><img src="images/pic/gal13.jpg" /></a></div>
            <div class="picThumb position14"><a href="#"><img src="images/pic/gal14.jpg" /></a></div>
            <div class="picThumb position15"><a href="#"><img src="images/pic/gal15.jpg" /></a></div>
            <div class="picThumb position16"><a href="#"><img src="images/pic/gal16.jpg" /></a></div>
            <div class="picThumb position17"><a href="#"><img src="images/pic/gal17.jpg" /></a></div>
            <div class="picThumb position18"><a href="#"><img src="images/pic/gal18.jpg" /></a></div>
            <div class="picThumb position19"><a href="#"><img src="images/pic/gal19.jpg" /></a></div>
            <div class="picThumb position20"><a href="#"><img src="images/pic/gal20.jpg" /></a></div>
        </div>
        
        <div class="boxInfoPic" style="display:none">
        	<div class="picLarge rotation05"><img id="rotation05"  /></div>
        	<div class="picLarge rotation04"><img id="rotation04"  /></div>
        	<div class="picLarge rotation03"><img id="rotation03" /></div>
        	<div class="picLarge contentPic rotation02">
            	<div class="picThCo"><img id="rotation02" /></div>
                <div class="txtCo">
                	<h4 class="titleCo" id="title"></h4>
                    <p id="intro"></p>
                </div>
            </div>
            <div class="picLarge rotation01"></div>
        </div>
        
    </div>
    
</div>
   
</body>
</html>
