<?php $this->load->view("admin/header/header.html")?>
<script type="text/javascript">
$(function(){
	$('input').checkBox();
	$('#toggle-all').click(function(){
 		$('#toggle-all').toggleClass('toggle-checked');
		$('#mainform .cb_select').checkBox('toggle');
		return false;
	});
	
	$('#hide-all').click(function(){
 		$('#hide-all').toggleClass('toggle-checked');
		$('#mainform .cb_hide').checkBox('toggle');
		return false;
	});
});
</script> 
<!--  start page-heading -->
	
	<!-- end page-heading -->

	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
	<tr>
		<th rowspan="3" class="sized"><img src="<?php echo DIR_IMG_ENTERPRISE ?>shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
		<th class="topleft"></th>
		<td id="tbl-border-top">&nbsp;</td>
		<th class="topright"></th>
		<th rowspan="3" class="sized"><img src="<?php echo DIR_IMG_ENTERPRISE ?>shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
	</tr>
	<tr>
		<td id="tbl-border-left"></td>
		<td>
		<!--  start content-table-inner ...................................................................... START -->
		<div id="content-table-inner">
		
			<!--  start table-content  -->
			<div id="table-content">
			
				<?php if(isset($_SESSION['notify'])){?>
				<!--  start message-yellow -->
				<div id="message-<?php echo $_SESSION['notify_color']?>">
				<table border="0" width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td class="<?php echo $_SESSION['notify_color']?>-left"><?php echo $_SESSION['notify']?></td>
					<td class="<?php echo $_SESSION['notify_color']?>-right"><a class="close-<?php echo $_SESSION['notify_color']?>"><img src="<?php echo DIR_IMG_ENTERPRISE ?>table/icon_close_<?php echo $_SESSION['notify_color']?>.gif"   alt="" /></a></td>
				</tr>
				</table>
				</div>
				<?php }?>
		
		 
				<!--  start product-table ..................................................................................... -->
				<form id="mainform" action="">
				<table border="0" width="50%" cellpadding="0" cellspacing="0" id="product-table">
				<tr>
					
					<th class="table-header-repeat line-left"><a href="">STT</a>	</th>
					<th class="table-header-repeat line-left minwidth-1"><a href="">Loại</a>	</th>
					
					<th class="table-header-repeat line-left"><a href="">Option</a></th>
									
				</tr>
				
				<tr class="alternate-row">					
					<td>1</td>
					<td>BÀI VIẾT VỀ DU HỌC MỸ</td>		
					<td class="options-width">
						<a href="<?php echo URL_HOME?>/admin/dichvu/add/<?php echo $one['id']?>" target="_blank" title="Chi Tiết" class="icon-5 info-tooltip"></a>
										
					</td>					
				</tr>
				<tr>					
					<td>2</td>
					<td>Các Trường Mỹ Liên Kết Với EDUVISA</td>		
					<td class="options-width">
						<a href="<?php echo URL_HOME?>/admin/dichvu/add/<?php echo $one['id']?>" target="_blank" title="Chi Tiết" class="icon-5 info-tooltip"></a>
									
					</td>					
				</tr>
				<tr class="alternate-row">					
					<td>3</td>
					<td>Những Câu Hỏi Thường Gặp</td>		
					<td class="options-width">
						<a href="<?php echo URL_HOME?>/admin/dichvu/add/<?php echo $one['id']?>" target="_blank" title="Chi Tiết" class="icon-5 info-tooltip"></a>
										
					</td>					
				</tr>
				</table>
				<!--  end product-table................................... --> 
				</form>
			</div>
			<!--  end content-table  -->
		
			<!--  start actions-box ............................................... -->
			<div id="actions-box">
				<a href="" class="action-slider"></a>
				<div id="actions-box-slider">
					<a href="" class="action-edit">Edit</a>
					<a href="" class="action-delete">Delete</a>
					<a href="" class="action-delete">Hide</a>
				</div>
				<div class="clear"></div>
			</div>
			<!-- end actions-box........... -->
			
			<!--  start paging..................................................... -->
			<table border="0" cellpadding="0" cellspacing="0" id="paging-table">
			<tr>
			<td>
				<a href="" class="page-far-left"></a>
				<a href="" class="page-left"></a>
				<div id="page-info">Page <strong>1</strong> / 15</div>
				<a href="" class="page-right"></a>
				<a href="" class="page-far-right"></a>
			</td>
			<td>
			<select  class="styledselect_pages">
				<option value="">Number of rows</option>
				<option value="">1</option>
				<option value="">2</option>
				<option value="">3</option>
			</select>
			</td>
			</tr>
			</table>
			<!--  end paging................ -->
			
			<div class="clear"></div>
		 
		</div>
		<!--  end content-table-inner ............................................END  -->
		</td>
		<td id="tbl-border-right"></td>
	</tr>
	<tr>
		<th class="sized bottomleft"></th>
		<td id="tbl-border-bottom">&nbsp;</td>
		<th class="sized bottomright"></th>
	</tr>
	</table>
<?php $this->load->view ("admin/footer/footer.html")?>