<?php $this->load->view("header/header.html")?>
                <div class="content minHeight">
             
                <!-- blog services -->
                <?php foreach($dich_vu as $index => $one) {?>
                	<div class="blogSer">
                	<h4 class="titleALl"><?php echo $ten_dich_vu[$one['id_loai_dv']]?></h4>
                    <div class="picTour"><img src="<?php echo DIR_IMG_ENTERPRISE.$one['hinh']?>" /></div>
                    <div class="infoTour">
                    	<div class="title"><?php echo $one['title']?> </div>
                        <div class="txt"><?php echo $one['description']?></div>
						<div class="more alignR"><a href="dichvu/chitiet/<?php echo $one['id'] ?>">chi tiết</a></div>
                    </div>  
                </div>
                <?php } ?>
   
               
                <!-- en blog services -->
                
                </div>
            
			</div>
            <!-- en main left -->
            
            <!-- main right -->
            <?php $this->load->view("menu/right_side.html")?>
                
	<!-- en bodymain -->
    
    <!-- footer -->
	<?php $this->load->view ("footer/footer.html")?>