<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>VietNam Travel Admin</title>
<link rel="stylesheet" href="<?php echo DIR_CSS_ENTERPRISE ?>screen.css" type="text/css" media="screen" title="default" />
<!--[if IE]>
<link rel="stylesheet" media="all" type="text/css" href="css/pro_dropline_ie.css" />
<![endif]-->

<!--  jquery core -->
<script src="<?php echo DIR_JS_ENTERPRISE ?>jquery/jquery-1.4.1.min.js" type="text/javascript"></script>
 <script>
	var DIR_AJAX_TRAVEL = "<?php echo DIR_AJAX_TRAVEL ?>";
	var URL_HOME_ENTERPRISE = "<?php echo URL_HOME_ENTERPRISE ?>";
</script>
<!--  checkbox styling script -->
<?php if($_SESSION['path'] == 'tour'){?>
	<script src="<?php echo DIR_JS_ENTERPRISE ?>jquery/ui.core.js" type="text/javascript"></script>
<?php } ?>
<script src="<?php echo DIR_JS_ENTERPRISE ?>jquery.ui.core.js" type="text/javascript"></script>
<?php if($_SESSION['path'] == 'tour'){?>
<script src="<?php echo DIR_JS_ENTERPRISE ?>jquery/ui.checkbox.js" type="text/javascript"></script>
<?php } ?>
<script src="<?php echo DIR_JS_ENTERPRISE ?>jquery/jquery.bind.js" type="text/javascript"></script>
<script src="<?php echo DIR_JS_ENTERPRISE ?>function_admin.js" type="text/javascript"></script>
<script src="<?php echo DIR_JS_ENTERPRISE ?>jquery.simplemodal.js"></script> 
<link rel="stylesheet" href="<?php echo DIR_CSS_ENTERPRISE ?>basic.css" type="text/css" />
<link rel="stylesheet" href="<?php echo DIR_CSS_ENTERPRISE ?>admin.css" type="text/css" />



<![if !IE 7]>

<!--  styled select box script version 1 -->
<script src="<?php echo DIR_JS_ENTERPRISE ?>jquery/jquery.selectbox-0.5.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('.styledselect').selectbox({ inputClass: "selectbox_styled" });
});
</script>
 

<![endif]>


<!--  styled select box script version 2 --> 
<script src="<?php echo DIR_JS_ENTERPRISE ?>jquery/jquery.selectbox-0.5_style_2.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('.styledselect_form_1').selectbox({ inputClass: "styledselect_form_1" });
	$('.styledselect_form_2').selectbox({ inputClass: "styledselect_form_2" });
});
</script>

<!--  styled select box script version 3 --> 
<script src="<?php echo DIR_JS_ENTERPRISE ?>jquery/jquery.selectbox-0.5_style_2.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('.styledselect_pages').selectbox({ inputClass: "styledselect_pages" });
});
</script>

<!--  styled file upload script --> 
<script src="<?php echo DIR_JS_ENTERPRISE ?>jquery/jquery.filestyle.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
$(function() {
	$("input.file_1").filestyle({ 
	image: URL_HOME_ENTERPRISE + "/images/forms/upload_file.gif",
	imageheight : 29,
	imagewidth : 78,
	width : 300
	});
});
</script>

<!-- Custom jquery scripts -->
<script src="<?php echo DIR_JS_ENTERPRISE ?>jquery/custom_jquery.js" type="text/javascript"></script>
 
<!-- Tooltips -->
<script src="<?php echo DIR_JS_ENTERPRISE ?>jquery/jquery.tooltip.js" type="text/javascript"></script>
<script src="<?php echo DIR_JS_ENTERPRISE ?>jquery/jquery.dimensions.js" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
	$('a.info-tooltip ').tooltip({
		track: true,
		delay: 0,
		fixPNG: true, 
		showURL: false,
		showBody: " - ",
		top: -35,
		left: 5
	});
});
</script> 

<!--  date picker script -->
<link rel="stylesheet" href="<?php echo DIR_CSS_ENTERPRISE ?>datePicker.css" type="text/css" />
<script src="<?php echo DIR_JS_ENTERPRISE ?>jquery/date.js" type="text/javascript"></script>
<script src="<?php echo DIR_JS_ENTERPRISE ?>jquery/jquery.datePicker.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
        $(function()
{

// initialise the "Select date" link
$('#date-pick')
	.datePicker(
		// associate the link with a date picker
		{
			createButton:false,
			startDate:'01/01/2012',
			endDate:'31/12/2020'
		}
	).bind(
		// when the link is clicked display the date picker
		'click',
		function()
		{
			updateSelects($(this).dpGetSelected()[0]);
			$(this).dpDisplay();
			return false;
		}
	).bind(
		// when a date is selected update the SELECTs
		'dateSelected',
		function(e, selectedDate, $td, state)
		{
			updateSelects(selectedDate);
		}
	).bind(
		'dpClosed',
		function(e, selected)
		{
			updateSelects(selected[0]);
		}
	);
$('#date-pick1')
.datePicker(
	// associate the link with a date picker
	{
		createButton:false,
		startDate:'01/01/2012',
		endDate:'31/12/2020'
	}
).bind(
	// when the link is clicked display the date picker
	'click',
	function()
	{
		updateSelects1($(this).dpGetSelected()[0]);
		$(this).dpDisplay();
		return false;
	}
).bind(
	// when a date is selected update the SELECTs
	'dateSelected',
	function(e, selectedDate, $td, state)
	{
		updateSelects1(selectedDate);
	}
).bind(
	'dpClosed',
	function(e, selected)
	{
		updateSelects1(selected[0]);
	}
);	
var updateSelects = function (selectedDate)
{
	var selectedDate = new Date(selectedDate);
	$('#d option[value=' + selectedDate.getDate() + ']').attr('selected', 'selected');
	$('#m option[value=' + (selectedDate.getMonth()+1) + ']').attr('selected', 'selected');
	$('#y option[value=' + (selectedDate.getFullYear()) + ']').attr('selected', 'selected');
}
var updateSelects1 = function (selectedDate)
{
	var selectedDate = new Date(selectedDate);
	$('#d1 option[value=' + selectedDate.getDate() + ']').attr('selected', 'selected');
	$('#m1 option[value=' + (selectedDate.getMonth()+1) + ']').attr('selected', 'selected');
	$('#y1 option[value=' + (selectedDate.getFullYear()) + ']').attr('selected', 'selected');
}
// listen for when the selects are changed and update the picker
$('#d, #m, #y')
	.bind(
		'change',
		function()
		{
			var d = new Date(
						$('#y').val(),
						$('#m').val()-1,
						$('#d').val()
					);
			$('#date-pick').dpSetSelected(d.asString());
		}
	);
$('#d1, #m1, #y1')
.bind(
	'change',
	function()
	{
		var d = new Date(
					$('#y1').val(),
					$('#m1').val()-1,
					$('#d1').val()
				);
		$('#date-pick1').dpSetSelected(d.asString());
	}
);
// default the position of the selects to today
<?php if(!$_GET['tour_id']){?>
var today = new Date();
updateSelects(today.getTime());
updateSelects1(today.getTime());
<?php }?>
// and update the datePicker to reflect it...
$('#d,#d1').trigger('change');
});
</script>

<!-- MUST BE THE LAST SCRIPT IN <HEAD></HEAD></HEAD> png fix -->
<script src="<?php echo DIR_JS_ENTERPRISE ?>jquery/jquery.pngFix.pack.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
$(document).pngFix( );
});
</script>
</head>
<body> 
<!-- Start: page-top-outer -->
<div id="page-top-outer">    

<!-- Start: page-top -->
<div id="page-top">

	<!-- start logo -->
	<div id="logo">
	<a href=""><img src="<?php echo DIR_IMG_ENTERPRISE ?>logo.png" width="156" height="40" alt="" /></a>
	</div>
	<!-- end logo -->
	
	<!--  start top-search -->
	<div id="top-search">
		<table border="0" cellpadding="0" cellspacing="0">
		<tr>
		<td><input type="text" value="Search" onblur="if (this.value=='') { this.value='Search'; }" onfocus="if (this.value=='Search') { this.value=''; }" class="top-search-inp" /></td>
		<td>
		 
		<select  class="styledselect">
			<option value="">All</option>
			<option value="">Products</option>
			<option value="">Categories</option>
			<option value="">Clients</option>
			<option value="">News</option>
		</select> 
		 
		</td>
		<td>
		<input type="image" src="<?php echo DIR_IMG_ENTERPRISE ?>shared/top_search_btn.gif"  />
		</td>
		</tr>
		</table>
	</div>
 	<!--  end top-search -->
 	<div class="clear"></div>

</div>
<!-- End: page-top -->

</div>
<!-- End: page-top-outer -->
	
<div class="clear">&nbsp;</div>
 
<!--  start nav-outer-repeat................................................................................................. START -->
<?php $this->load->view("admin/category/category.html")?>
<!--  start nav-outer-repeat................................................... END -->
 
 <div class="clear"></div>
 
<!-- start content-outer -->
<div id="content-outer">
<!-- start content -->
<div id="content">
