<div class="categories">
                	<ul>
                    	<li><a href="#"><span>TOUR Nước ngoài</span></a></li>  
                        <li><a href="#"><span>TOUR trong nước</span></a></li>
                        <li><a href="#"><span>du học</span></a></li>
                        <li><a href="#"><span>vé máy bay</span></a></li>
                        <li><a href="#"><span>dịch vụ</span></a></li>
                        <li><a href="#"><span>nhật ký tour</span></a></li>
                    </ul>
</div>