<?php
	$diemkhoihanh = DB::LimitQuery('loai_diem_khoi_hanh');
	$diemden = DB::LimitQuery('loai_diem_den');
?>
<div class="mainRight">
            
            	<!-- categories -->
                <div class="categories">
                	<ul>
                    	<li><a href="<?php echo URL_HOME_ENTERPRISE ?>/tour/nuocngoai"><span>TOUR Nước ngoài</span></a></li>  
                        <li><a href="<?php echo URL_HOME_ENTERPRISE ?>/tour/trongnuoc"><span>TOUR trong nước</span></a></li>
                        <li><a href="<?php echo URL_HOME_ENTERPRISE ?>/duhoc"><span>du học</span></a></li>
                        <li><a href="<?php echo URL_HOME_ENTERPRISE ?>/vemaybay"><span>vé máy bay</span></a></li>
                        <li><a href="<?php echo URL_HOME_ENTERPRISE ?>/dichvu"><span>dịch vụ</span></a></li>
                        <li><a href="<?php echo URL_HOME_ENTERPRISE ?>/tour/nhatky"><span>nhật ký tour</span></a></li>
                    </ul>
                </div>
                <!-- en categories -->	
                
                <!-- blog right -->
                <div class="blogRight">
                	<div class="top1"></div>
                    <div class="bgT1">
                    	<h4 class="titleR">tìm tour</h4>
                    	<div class="boxSearch">
                        	<label>Điểm khởi hành</label>
                        	<select name="" class="selS" id="search_diemkhoihanh">
                        		<option value="0">Tất Cả</option>                       		
                        		<?php foreach($diemkhoihanh as $index => $one){?>
                        			<option value="<?php $one['id']?>"><?php echo $one['ten_dia_diem']?></option>
                        		<?php } ?>
                        	</select><br>
                            <label>Điểm đến</label> 
                            <select name="" class="selS" id="search_diemden">
                            	<option value="0">Tất Cả</option> 
                            	<?php foreach($diemden as $index => $one){?>
                        			<option value="<?php $one['id']?>"><?php echo $one['ten_dia_diem']?></option>
                        		<?php } ?>
                            </select><br>
                            <div class="alignR"><input type="button" class="bntSR" value="Search" id="search_tour_submit"/></div>
                        </div>
                    </div>
                    <div class="bgT2">
                    	<h4 class="titleR">hổ trợ trực tuyến</h4>
                        <ul class="listSupport">
                        	<li><span>Tour nước ngoài</span> <a href="#" class="icoYa"></a>  <a href="#" class="icoSk"></a></li>
                            <li><span>Tour trong nước</span> <a href="#" class="icoYa"></a>  <a href="#" class="icoSk"></a></li>
                            <li><span>Du học</span> <a href="#" class="icoYa"></a>  <a href="#" class="icoSk"></a></li>
                            <li><span>Dịch vụ</span> <a href="#" class="icoYa"></a>  <a href="#" class="icoSk"></a></li>
                            <li><span>Vé máy bay</span> <a href="#" class="icoYa"></a>  <a href="#" class="icoSk"></a></li>
                        </ul>
                        <div class="clr"></div>
                    </div>
                    <div class="bottom1"></div>
                </div>
                <!-- en blog right -->
                
                <!-- blog right -->
                <div class="blogRight">
<!--                	<div class="top2"><h4 class="titleR">Lịch khởi hành tour</h4> <a href="#" class="nn"></a> <a href="#" class="np"></a></div>-->
<!--                    <div class="bgT3 celendar"><img src="<?php echo DIR_IMG_ENTERPRISE ?>pic/celendar.png" width="272" height="171" /></div>-->
<!--                    <div class="bottom2"></div>-->
                    <div class="bgT3 celendar" id="calendar-container"></div>
                    <script>               
                    Calendar.setup({
                        cont          : "calendar-container",
                        //weekNumbers   : true,
                        selectionType : Calendar.SEL_MULTIPLE,
                        selection     : Calendar.dateToInt(new Date()),
                        //showTime      : 12,
                        bottomBar : false,
                        onSelect      : function() {
                            var count = this.selection.countDays();
                            if (count == 1) {
                                var date = this.selection.get()[0];
                                //date = Calendar.intToDate(date);
                                //date = Calendar.printDate(date, "%A-%B-%d-%Y");
                                //$("calendar-info").innerHTML = date;
                                ////////////
                                $('.basic-modal-content').modal({minHeight:455,minWidth: 870,overlayClose:true});
                        		$('.basic-modal-content').load('<?php echo URL_HOME_ENTERPRISE ?>/views/tour/search_modal.php?date='+date);
                            } else {
                                $("calendar-info").innerHTML = Calendar.formatString("${count:no date|one date|two dates|# dates} selected", { count: count });
                            }
                        },
                        
                    });
                    </script>
                    
                </div>
                <!-- en blog right -->
                
                <div class="blogVideo"><img src="<?php echo DIR_IMG_ENTERPRISE ?>pic/clip.jpg" width="282" height="239" /></div>
                
                <div class="bannerRight"><a href="#"><img src="<?php echo DIR_IMG_ENTERPRISE ?>pic/bannerRight.jpg" /></a></div>
                
                <div class="blogEmail">
                	<h4 class="titleR">Nhận thông tin khuyến mãi</h4>
                    Email <input type="text" class="inpEm" id="email_km"/> <input type="submit" value="" class="bntEm" id="email_km_submit"/>
                </div>
                
            </div>
            <!-- en main right -->
            <div class="clr"></div>
        
    </div>