	<!-- header -->
	<?php $this->load->view("header/header.html")?>
                
                <div class="content">
                <!-- blog hot tour -->
                <div class="blogHotTour">
                	<h4 class="titleALl">TOUR HOT</h4>
                    <ul class="listHotTour">
                    	<li>
                        	<div class="picHotTour">
                            	<i class="pNe"></i>
                            	<img src="<?php echo $tour_hot[0]['hinh']?>" class="imgHT" />
                                <div class="info">
                                	<strong>Paris trang lệ</strong>
                                	<div class="date">Ngày đi: 09 - 01 - 2012</div>
                                    <div class="price">Giá tour: 1000 USD</div>    
                                </div>
                            </div>
                            <div class="txtHotTour">
                            	<div class="title">Fusce interdum. Maecenas </div>
                                <div class="txt">
sagittis. Fusce elit ligula,  Aenean. Sed laoreet. Aenean pede. Phasellus porta. Ut dictum nonummy diam. Sed a leo. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sito. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sit</div>
								<div class="more alignR"><a href="#">chi tiết</a></div>
                            </div>
                            <div class="clr"></div>
                        </li>
                        <li>
                        	<div class="picHotTour">
                            	<i class="pBP"></i>
                            	<img src="images/pic/tourH1.jpg" class="imgHT" />
                                <div class="info">
                                	<strong>Paris trang lệ</strong>
                                	<div class="date">Ngày đi: 09 - 01 - 2012</div>
                                    <div class="price">Giá tour: 1000 USD</div>    
                                </div>
                            </div>
                            <div class="txtHotTour">
                            	<div class="title">Fusce interdum. Maecenas </div>
								<div class="txt">
sagittis. Fusce elit ligula,  Aenean. Sed laoreet. Aenean pede. Phasellus porta. Ut dictum nonummy diam. Sed a leo. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sito. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sit</div>
								<div class="more alignR"><a href="#">chi tiết</a></div>
                            </div>
                            <div class="clr"></div>
                        </li>
                    </ul>
                    <div class="clr"></div>
                </div>
                <!-- en blog hot tour -->
                <div class="space"></div>
                <!-- blog tour -->
                <div class="blogTour">
                	<h4 class="titleALl">TOUR nước ngoài</h4>
                    <div class="picTour"><img src="images/pic/tour.jpg" /></div>
                    <div class="infoTour">
                    	<div class="title">Fusce interdum. Maecenas </div>
                        <div class="txt">
sagittis. Fusce elit ligula,  Aenean. Sed laoreet. Aenean pede. Phasellus porta. Ut dictum nonummy diam. Sed a leo. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sito. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sitsagittis. Fusce elit ligula,  Aenean. Sed laoreet. Aenean pede. Phasellus porta. Ut dictum nonummy diam. Sed a leo. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sito. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sit
						</div>
						<div class="more alignR"><a href="#">chi tiết</a></div>
                    </div>
                    <div class="clr"></div>
                    <ul class="listTourOther">
                    	<li><a href="#">Aenean. Sed laoreet. Aenean pede. Phasellus porta</a></li>
                        <li><a href="#">Fusce elit ligula,  Aenean. Sed laoreet. Aenean pede.</a></li>
                    </ul>
                </div>
                <!-- en blog tour -->
                <div class="space"></div>
                <!-- blog tour -->
                <div class="blogTour">
                	<h4 class="titleALl">TOUR trong nước</h4>
                    <div class="picTour"><img src="images/pic/tour2.jpg" /></div>
                    <div class="infoTour">
                    	<div class="title">Fusce interdum. Maecenas </div>
                        <div class="txt">
sagittis. Fusce elit ligula,  Aenean. Sed laoreet. Aenean pede. Phasellus porta. Ut dictum nonummy diam. Sed a leo. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sito. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sitsagittis. Fusce elit ligula,  Aenean. Sed laoreet. Aenean pede. Phasellus porta. Ut dictum nonummy diam. Sed a leo. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sito. Cras ullamcorper nibh. Sed laoreet. Lorem ipsum dolor sit
						</div>
						<div class="more alignR"><a href="#">chi tiết</a></div>
                    </div>
                    <div class="clr"></div>
                    <ul class="listTourOther">
                    	<li><a href="#">Aenean. Sed laoreet. Aenean pede. Phasellus porta</a></li>
                        <li><a href="#">Fusce elit ligula,  Aenean. Sed laoreet. Aenean pede.</a></li>
                    </ul>
                </div>
                <!-- en blog tour -->
                
                </div>
                <div class="space"></div>
                <div class="bannerB"><a href="#"><img src="images/pic/bannerBottom.jpg" /></a></div>
            
			</div>
            <!-- en main left -->
            
            <!-- main right -->
                <?php $this->load->view("menu/right_side.html")?>
                
	<!-- en bodymain -->
    
    <!-- footer -->
	<?php $this->load->view ("footer/footer.html")?>