	<!-- header -->
	<?php $this->load->view("header/header.html")?>
                
                <div class="content">
                <!-- blog hot tour -->
                <div class="blogHotTour">
                	<h4 class="titleALl">TOUR HOT</h4>
                    <ul class="listHotTour">
                    <?php foreach ($tour_hot as $index => $one){?>
                    	<li>
                        	<div class="picHotTour">
                            	<i class="pNe"></i>
                            	<img src="<?php echo DIR_IMG_ENTERPRISE.$one['hinh']?>" class="imgHT" />
                                <div class="info">
                                	<strong><?php echo $one['slogon_tour']?></strong>
                                	<div class="date">Ngày đi: <?php echo date('d-m-Y',$one['ngay_di']) ?></div>
                                    <div class="price">Giá tour: <?php echo $one['gia_tour']?> USD</div>    
                                </div>
                            </div>
                            <div class="txtHotTour">
                            	<div class="title"><?php echo $one['title']?> </div>
                                <div class="txt">
<?php echo $one['intro'] ?></div>
								<div class="more alignR"><a href="tour/chitiet/<?php echo $one['id']?>">chi tiết</a></div>
                            </div>
                            <div class="clr"></div>
                        </li>
                    <?php } ?>
                    	
                    </ul>
                    <div class="clr"></div>
                </div>
                <!-- en blog hot tour -->
                <div class="space"></div>
                <!-- blog tour -->
                <div class="blogTour">
                	<h4 class="titleALl">TOUR nước ngoài</h4>
                	<?php foreach($tour_nuoc_ngoai as $index => $one){?>
                		 <div class="picTour"><img src="<?php echo DIR_IMG_ENTERPRISE.$one['hinh']?>" /></div>
                    <div class="infoTour">
                    	<div class="title"><?php echo $one['title']?> </div>
                        <div class="txt">
<?php echo $one['intro']?>
						</div>
						<div class="more alignR"><a href="tour/chitiet/<?php echo $one['id']?>">chi tiết</a></div>
                    </div>
                    <div class="clr"></div>
                	<?php } ?>
                    
                    <ul class="listTourOther">
                    	<li><a href="#">Aenean. Sed laoreet. Aenean pede. Phasellus porta</a></li>
                        <li><a href="#">Fusce elit ligula,  Aenean. Sed laoreet. Aenean pede.</a></li>
                    </ul>
                </div>
                <!-- en blog tour -->
                <div class="space"></div>
                <!-- blog tour -->
                <div class="blogTour">
                	<h4 class="titleALl">TOUR trong nước</h4>
                	<?php foreach($tour_trong_nuoc as $index => $one){?>
                		<div class="picTour"><img src="<?php echo DIR_IMG_ENTERPRISE.$one['hinh']?>" /></div>
                    <div class="infoTour">
                    	<div class="title"><?php echo $one['title']?> </div>
                        <div class="txt">
<?php echo $one['intro']?>
						</div>
						<div class="more alignR"><a href="tour/chitiet/<?php echo $one['id']?>">chi tiết</a></div>
                    </div>
                    <div class="clr"></div>
                	<?php } ?>
                    
                    <ul class="listTourOther">
                    	<li><a href="#">Aenean. Sed laoreet. Aenean pede. Phasellus porta</a></li>
                        <li><a href="#">Fusce elit ligula,  Aenean. Sed laoreet. Aenean pede.</a></li>
                    </ul>
                </div>
                <!-- en blog tour -->
                
                </div>
                <div class="space"></div>
                <div class="bannerB"><a href="#"><img src="images/pic/bannerBottom.jpg" /></a></div>
            
			</div>
            <!-- en main left -->
            
            <!-- main right -->
                <?php $this->load->view("menu/right_side.html")?>
                
	<!-- en bodymain -->
    
    <!-- footer -->
	<?php $this->load->view ("footer/footer.html")?>