<?php include("/Views/header/header.html")?>
                <div class="content minHeight">
                
                	<h4 class="titleALl">Liên hệ</h4>
                    
                    <div class="blogConact">
                    	
                        <div class="logoCon"><a href="#"><img src="images/logoC.png" /></a></div>
                        
                        <div class="colL">
                        	<div class="padT5">
                              <b>Nectetuer adipiscing elit.</b><br /> Maurip
                                sfermentum dictum magna. Sed laor
                                eet aliquam leot tellus dolor, dapib.
                            </div>
                            <div class="padT5">
                                9870 St Vincent Place,<br />
                                Glasgow, DC 45 Fr 45.
                            </div>
                            <div class="padT5">
                                Freephone:  +12 345 678 9012<br />
                                Telephone:   +12 345 678 9012<br />
                                FAX:             +12 345 678 9012<br />
                            </div>
                            <div class="padT5">
                                Quisque nulla. Vestibulum libero nislp
                                orta vel, scelerisque egesuada at.
							</div>
							<div class="mapC"><img src="images/pic/map.jpg" width="249" height="173" /></div>
                        </div>
                        
                        <div class="colR">
                        	<label>Họ & Tên:</label> <input type="text" class="inpC" id="hoten"/><br />
                            <label>Địa chỉ Email:</label> <input type="text" class="inpC" id="email"/><br />
                            <label>Nội Dung:</label> <textarea name="" cols="" rows="" class="areaC" id="noidung"></textarea><br />
                            <input type="button" class="bntC" value="Gửi" id="lienhe_submit"/>
                            
                        </div>
                        
                    </div>
                    
                </div>    
            
			</div>
            <!-- en main left -->
            
            <!-- main right -->
             <?php include("/Views/menu/right_side.html")?>
                
	<!-- en bodymain -->
    
    <!-- footer -->
	<?php include ("Views/footer/footer.html")?>