<?php $this->load->view("header/header.html")?>
<script>
	$(document).ready(function(){
		
	});
</script>
                <div class="content minHeight">
                
                	<h4 class="titleALl">THÔNG TIN LIÊN HỆ</h4>
                    
                    <div class="blogConact">
                    	
                        <div class="logoCon"><a href="#"><img src="images/logoC.png" /></a></div>
                        
                        <div class="colL">
                        	<div class="padT5">
                              <b>Địa Chỉ:</b><br />182 Nguyễn Cư Trinh, P. Nguyễn Cư Trinh, Q.1, Tp. Hồ Chí Minh.<br/>
                              <b>Điện thoại:</b><br />(+84.8) 3838 6969 - Fax: (+84.8) 3836 4449<br/>
                              <b>E-mail:</b><br /> info@vietnamtravelcorp.com<br/>
                              <b>Website:</b><br /> <a href="www.vietnamtravelcorp.com" target="_blank">www.vietnamtravelcorp.com</a> - <a href="www.tourdocdao.com" target="_blank">www.tourdocdao.com</a>
                            </div>
                            <div class="padT5">
                                <b>Phòng Du Lịch Nước Ngoài FIT (Khách lẻ):</b><br/>
								Tel: (+84.8) 3838 6969         Ext: 109, 225, 114

                            </div>
                            <div class="padT5">
                                <b>Phòng Du Lịch Trong Nước FIT (Khách lẻ):</b><br/>
								Tel: (+84.8) 3838 6969         Ext: 226, 222

                            </div>
                            <div class="padT5">
                                <b>Phòng Thị Trường Nước Ngoài (Inbound):</b><br/>
								Tel: (+84.8) 3838 6969         Ext: 111

                            </div>
                            <div class="padT5">
                                <b>Phòng Vé Máy Bay:</b><br/>
								Tel: (+84.8) 3838 6969         Ext: 244, 115

                            </div>
                            <div class="padT5">
                                <b>Phòng Điều Hành & Dịch Vụ:</b><br/>
								Tel: (+84.8) 3838 6969         Ext: 251, 116, 117

                            </div>
                            <div class="padT5">
                                <b>Phòng kinh doanh GIT (Khách đoàn):</b><br/>
								Tel: (+84.8) 3838 6969         Ext: 119,111,228,229,223,113,231,232,238,237,250,234,233,236,235,112,253

                            </div>
                            <div class="padT5">
                                <b>Bộ phận Marketing và Chăm Sóc Khách Hàng:</b><br/>
								Tel: (+84.8) 3838 6969         Ext: 247

                            </div>
                            <div class="padT5">
                                <b>Phòng Admin & HR:</b><br/>
								Tel: (+84.8) 3838 6969         Ext: 241, 227

                            </div>
                            <div class="padT5">
                                <b>Trung Tâm Du Học Eduvisa:</b><br/>
								Tel: (+84.8) 3838 6969         Ext: 224,131,111

                            </div>
                            
							<div class="mapC"><img src="images/pic/map.jpg" width="249" height="173" /></div>
                        </div>
                        
                        <div class="colR">
                        	<label>Họ & Tên:</label> <input type="text" class="inpC" id="hoten"/><br />
                            <label>Địa chỉ Email:</label> <input type="text" class="inpC" id="email"/><br />
                            <label>Nội Dung:</label> <textarea name="" cols="" rows="" class="areaC" id="noidung"></textarea><br />
                            <input type="button" class="bntC" value="Gửi" id="lienhe_submit"/>
                            
                        </div>
                        
                    </div>
                    
                </div>    
            
			</div>
            <!-- en main left -->
            
            <!-- main right -->
             <?php $this->load->view("menu/right_side.html")?>
                
	<!-- en bodymain -->
    
    <!-- footer -->
	<?php $this->load->view ("footer/footer.html")?>