<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>:::: VIETNAM TRAVEL ::::</title>
<link href="<?php echo DIR_CSS_ENTERPRISE ?>setup.css" rel="stylesheet" type="text/css" />
<link href="<?php echo DIR_CSS_ENTERPRISE ?>style.css" rel="stylesheet" type="text/css" />
<script src="<?php echo DIR_JS_ENTERPRISE ?>jquery.min.js" type="text/javascript"></script>
<script>var DIR_AJAX_TRAVEL = "<?php echo DIR_AJAX_TRAVEL ?>";</script>
<script src="<?php echo DIR_JS_ENTERPRISE ?>function.js" type="text/javascript"></script>
<script src="<?php echo DIR_JS_ENTERPRISE ?>calendar1.js" type="text/javascript"></script>

<script src="<?php echo DIR_JS_ENTERPRISE ?>src/js/jscal2.js"></script>
<script src="<?php echo DIR_JS_ENTERPRISE ?>src/js/lang/en.js"></script>    
<link rel="stylesheet" href="<?php echo DIR_JS_ENTERPRISE ?>src/css/jscal2.css" type="text/css" />
<link rel="stylesheet" href="<?php echo DIR_JS_ENTERPRISE ?>src/css/border-radius.css" type="text/css" />
<link rel="stylesheet" href="<?php echo DIR_JS_ENTERPRISE ?>src/css/gold/gold.css" type="text/css" />


</head>
<body>
<div class="site"><div class="siteIn">
<div class="header fixed">
 
        <div class="logo"><a href="#"><img src="<?php echo DIR_IMG_ENTERPRISE ?>logo.png"/></a></div>
        
        <div class="navTop">
        
            <div class="searchT fixed">
                  <div class="boxSearch"><input type="text" class="inpS" /><input type="submit" class="bntS" value="" /></div>
                  <a href="#" class="bntFB"></a><a href="#" class="bntTW"></a>
            </div>
            
            <div class="menuT">
               <ul>
               		<li><a href="<?php echo URL_HOME_ENTERPRISE ?>/home" class="active"><span>Trang chủ</span></a></li>
                    <li><a href="<?php echo URL_HOME_ENTERPRISE ?>/gioithieu"><span>Giới thiệu</span></a></li>
                    <li><a href="<?php echo URL_HOME_ENTERPRISE ?>/lienhe"><span>Liên hệ</span></a></li>
               </ul>
            </div>
            
        </div>
        
        <div class="clr"></div>
       
</div>
<!-- en header -->
    
    <!-- bodymain -->
	<div class="bodyMain">
    	
        	<!-- main left -->
            <div class="mainLeft position">
            	
                <div class="bannerSlide"><img src="<?php echo DIR_IMG_ENTERPRISE ?>pic/banner.jpg" /></div>
                <div class="boxHotline">
                	<div class="inHot">(08) 3939 6969</div>
                    <div class="shadow"></div>
                </div>