<?php $this->load->view("header/header.html")?>
                
                <div class="content minHeight">
                
               	  <h4 class="titleALl">Giới thiệu</h4>
                    
                	<div class="alignJ">
                	<?php //echo $gioithieu['content'] ?>
                	1.	LỜI NGỎ: 
Xã hội ngày càng phát triển, cuộc sống ngày càng bận rộn và đầy lo toan. Đã bao giờ chúng ta thử gác bỏ những bộn bề để cùng gia đình, bạn bè, đồng nghiệp tận hưởng niềm vui khi đặt chân đến những miền đất mới lạ và khám phá thêm nhiều điều thú vị vốn có từ cuộc sống?
Vietnam Travel rất hân hạnh được đồng hành cùng bạn trải nghiệm những khoảnh khắc đặc biệt này.

LĨNH VỰC HOẠT ĐỘNG:

Kinh Doanh Lữ Hành Quốc Tế

Đây là lĩnh vực hoạt động chủ lực của chúng tôi từ những ngày đầu thành lập.

Với phong cách phục vụ chuyên nghiệp, chúng tôi đã tạo được uy tín, cũng như sự tin cậy của khách hàng trong thời gian qua. Từ sự khích lệ đáng trân trọng đó, chúng tôi luôn mạnh dạn cải tiến và phát triển những chương trình tham quan du lịch mới, hấp dẫn và thú vị hơn để đáp ứng nhu cầu du lịch ngày càng đa dạng của khách hàng.

Căn cứ vào nội dung và mục đích chuyển đi, hiện tại chúng tôi có 3 loại hình tour outbound sau:
Du lịch sinh thái, nghỉ ngơi, giải trí, chữa bệnh, tìm hiểu văn hóa, lịch sử:
Đây là loại hình du lịch được Vietnam Travel xem là trọng điểm, nên luôn có sự đầu tư đúng đắng để phát triển cả về hình thức, số lượng và nội dung. Hiện tại 90% số lượng tour của Vietnam Travel là theo loại hình này.
Du lịch thiền tịnh, tôn giáo, tín ngưỡng:
Ngoài loại hình du lịch trên thì loại du lịch phục vụ đời sống tinh thần tín ngưỡng tôn giáo cũng dần thịnh hành, nhu cầu ngày một cao hơn. Do đó Vietnam Travel thiết kế 3 tour du lịch đặc thù dành riêng cho du khách. Đây là loại hình được Vietnam Travel đánh giá có tiềm năng, và sẽ phát triển mạnh trong tương lai.   
ISRAEL – Hành trình về đất thánh      8N7D
ẤN ĐỘ - Hành trình về đất phật          10N9D
TRUNG QUỐC – Nhất đại phật sơn     9N8D
Du lịch thể thao, khám phá, mạo hiểm:
Đây là loại hình du lịch đang phát triển và được giới trẻ trong và ngoài nước ưa chuộng. Vietnam Travel có những sản phẩm đặc thù được thiết kế đặc biệt dành riêng cho các doanh nghiệp như chương trình tham quan kết hợp xem các giải bóng đá quốc tế lớn: Seagames, Euro Cup, World Cup, hay tham quan kết hợp xem đua xe công thức 1 (F1).

Đừng ngần ngại và chần chừ nếu bạn có nhu cầu về du lịch, bởi vì chắc chắn chúng tôi sẽ không phụ lòng tin của bạn, chúng tôi sẽ làm tất cả để cho chuyến đi của bạn trở nên tuyệt vời nhất. 
Những điều làm nên sự khác biệt của chúng tôi:
Đến nay chúng tôi có hệ thống quan hệ đối tác chặt chẽ với hơn 100 công ty, đại lý du lịch tại  20 quốc gia trên thế giới.
Đồng thời chúng tôi sở hữu bộ phận tư vấn, phục vụ khách hàng rất tâm huyết với nghề, biết cảm nhận và thấu hiểu tâm lý nhanh, có thể mang lại những giá trị vượt trên sự mong đợi của khách hàng.  
Ngoài ra chúng tôi là đại lý chính thức của hơn 20 hãng hàng không quốc tế, để đáp ứng tối đa nhu cầu vé cho tour theo yêu cầu.    
Bên cạnh đó, chúng tôi được một đội ngũ hướng dẫn viên quốc tế chuyên nghiệp hết mực phục vụ, và cùng hướng đến một phương châm:
“ Tất cả cho khách hàng, khách hàng cho tất cả”

Kinh Doanh Lữ Hành Nội Địa

Hàng năm, chúng tôi phục vụ trên 5.000 lượt khách đi du lịch trong nước. Với uy tín và phong cách phục vụ chuyên nghiệp trong lĩnh vực lữ hành, chúng tôi đã từng tổ chức các đoàn tour du lịch có số lượng trên 1.000 khách. 

Đặc biệt, với hệ thống quản lý chất lượng dịch vụ luôn được vận hành chặt chẽ bên cạnh mỗi sản phẩm tour bán ra, đã giúp chúng tôi đạt được tỷ lệ hài lòng của khách hàng rất cao là 98%. Do đó Vietnam Travel có thể tự hào nói rằng lữ hành nội địa là thế mạnh của chúng tôi. 

Với phương châm hợp tác và phát triển, đặt sự bền vững lên hàng đầu, đến nay Vietnam Travel có hệ thống đối tác thân thiết rất lớn trên toàn quốc: hơn 200 khách sạn, trên 1000 nhà hàng và 100 nhà xe. Vì thế, dù đến mùa cao điểm hay thấp điểm về du lịch, chúng tôi vẫn dễ dàng tổ chức những tour kết hợp chơi teambuilding, cắm trại sinh thái, hay họp hội nghị, sự kiện cho khách đoàn với số lượng lớn.
 
Kinh Doanh Lữ Hành Khách Quốc Tế Đến Viet Nam (inbound tour)


Vietnam Travel hiện đang là thành viên chính thức của các hiệp hội du lịch trong nước và quốc tế HTA, PATA, JATA, ASTA. Cộng với sự am tường các tuyến điểm du lịch trong nước. Chúng tôi đã tổ chức thành công nhiều tour du lịch cho các đoàn khách quốc tế đến từ nhiều quốc gia khác nhau như: Nga, Hàn Quốc, Trung Quốc, Hoa Kỳ, Nhật Bản.
Đây là lĩnh vực hoạt động được Vietnam Travel đầu tư mạnh mẽ để phát triển lâu dài.

23/3 

5. Dịch Vụ Vé Máy Bay

Chúng tôi – Phòng vé Vietnam Travel là một trong những thương hiệu về dịch vụ vé máy bay có uy tín tại Việt Nam, và là đại lý chính thức của hãng Vietnam Airlines, Thai Airways, Malaysia Airlines, Jetstar, Air Mekong cùng hơn 20 hãng hàng không quốc tế khác. Do đó chúng tôi luôn có những xuất vé với lịch bay đẹp, và thường xuyên có những chương trình ưu đãi của các hãng hàng không trong và ngoài nước. Vì thế, đến với chúng tôi bạn hiếm khi nghe câu trả lời là hết vé, và bạn sẽ an tâm về giá vé luôn rẻ hơn nhiều so với giá vé công bố của chính hãng.
Phòng vé Vietnam Travel sở hữu nhiều chuyên viên tư vấn có thâm niên trong nghề, luôn nhiệt tình và chu đáo. Gắn kết với đội ngũ giao nhận đông đảo và am hiểu mọi địa bàn trong nội thành. Đến với chúng tôi, chắc chắn bạn sẽ hài lòng dù bạn là người khó tính đến đâu.
Những điều làm nên sự khác biệt của chúng tôi:
Tư vấn chu đáo cho bạn về đường bay đẹp phù hợp nhất với hành trình.
Tư vấn đầy đủ các thông tin về điểm đến, thủ tục hàng không, hải quan.
Hệ thống đăng ký vé điện tử nhanh chóng hiện đại.
Giao vé tận nơi miễn phí.
Hướng dẫn đưa đón sân bay trong nước & quốc tế.
Giảm giá đặc biệt cho khách định cư, du học và lao động ở nước ngoài.
Giá vé quốc tế luôn rẻ hơn so với công bố từ chính hãng.
Đối với khách mua vé đoàn (10 vé người lớn trở lên), chúng tôi sẽ áp dụng mức giá ưu đãi đặc biệt và có chiết khấu cao.
Chấp nhận thanh toán qua nhiều hình thức như tiền mặt, chuyển khoản, thẻ tín dụng,…

6. Trung tâm du học Eduvisa:

Eduvisa là một tập thể gồm những chuyên viên được đào tạo tại Mỹ và có gần 10 năm kinh nghiệm về tư vấn du học. Đồng thời Eduvisa có mối quan hệ với nhiều trường Đại học, Cao Đẳng uy tín hàng đầu ở nhiều quốc gia khác nhau. 
Do đó đến với Eduvisa bạn sẽ cảm nhận được sự phục vụ tận tình chuyên nghiệp và nhanh chóng đến không ngờ. Đặc biệt Eduvisa chỉ nhận thù lao khi bạn đậu visa.
Đến với Eduvisa bạn sẽ không ngại vì học lực còn trung bình, tiếng Anh chưa đủ khá, hoặc gia đình có tài chính chưa cao, không có thân nhân tại nước ngoài, hay hồ sơ bị từ chối nhiều lần.
Đừng ngần ngại và chần chừ nếu bạn có nhu cầu. Bởi vì khi chúng tôi nhận hồ sơ nghĩa là gần như chắc chắn có Visa. 
10 dịch vụ tư vấn chu đáo của Eduvisa:
Tư vấn chọn trường
Hướng dẫn phỏng vấn
Tư vấn thủ tục nhập học
Tư vấn tài chính du học
Hoàn thành thủ tục xin Visa
Hỗ trợ chuyển trường
Hỗ trợ dịch thuật
Hỗ trợ tìm kiếm học bổng
Tư vấn visa phụ huynh thăm thân
Tư vấn liên thông lên cao học

4. Dịch vụ làm Visa các nước

Bạn đang cần đi nước ngoài trong thời gian sớm nhất. Bạn muốn xin visa đến các nước phát triển nhưng ngại thủ tục phiền hà, rắc rối. Bạn cần đi công tác nhưng không có thời gian để tự chuẩn bị hồ sơ. Hãy để chúng tôi giúp bạn giải quyết những khó khăn bạn đang gặp phải. Chúng tôi sẽ mang đến cho bạn những dịch vụ tiện ích nhất. 

 Tư vấn miễn phí cho khách hàng các vấn đề liên quan đến hoạt động làm visa như:
- Tư vấn những quy định của pháp luật về việc cấp visa.
- Tư vấn thủ tục Làm visa
- Tư vấn chuẩn bị hồ sơ, tài liệu chuẩn Làm visa
- Tư vấn các vấn đề liên quan khác.

 Kiểm tra, đánh giá tính pháp lý của các yêu cầu tư vấn và các giấy tờ của khách hàng:
Vừa là Công Ty Dịch Thuật nên tất cả các giấy tờ chúng tôi sẽ dịch thuật, công chứng các giấy tờ có liên quan.

Vietnam Travel sẽ đại diện hoàn tất các thủ tục làm visa cho khách hàng như:
- Sau khi ký hợp đồng dịch vụ, Vietnam Travel sẽ tiến hành soạn hồ sơ xin Làm Visa cho khách hàng:
- Đại diện lên cơ quan có thẩm quyền để nộp hồ sơ xin Làm Visa cho khách hàng;
- Đại diện theo dõi hồ sơ và thông báo kết quả hồ sơ đã nộp cho khách hàng;
- Đại diện nhận Visa cho khách hàng.

 Dịch vụ hậu mãi cho khách hàng:
- Giảm giá 10% cho dịch vụ tiếp theo mà bạn sử dụng.

Dịch vụ cho thuê xe và book khách sạn nhanh chóng

Dựa vào thế mạnh về công nghệ thông tin cũng như đội ngũ am hiểu về lĩnh vực du lịch, Vietnam Travel cung cấp thêm dịch vụ đặt phòng khách sạn và cho thuê xe với mức giá tốt nhất.
Vietnam Travel chuyên phục vụ cho khách hàng người Việt Nam, với tiêu chí mang tới một dịch vụ tiện ích và đẳng cấp quốc tế cho người Việt. Hiện tại Vietnam Travel có thể đặt phòng tại 1000 khách sạn nội địa và 160,000 khách sạn quốc tế tại tất cả các quốc gia trên toàn thế giới. Chính vì thế, Vietnam Travel có thể đáp ứng gần như tất cả các nhu cầu về khách sạn của quý khách. 
Với 100 đối tác nhà xe uy tín, trong nhiều năm qua Vietnam Travel đã phục vụ hàng ngàn du khách, các chuyến xe an toàn trong nước và quốc tế, cũng như góp phần cho sự phát triển của ngành du lịch Việt nam.
Sự hài lòng của du khách trong mỗi chuyến đi là thành công của Vietnam Travel.



CÁC GIẢI THƯỞNG:
Sau nhiều năm hoạt động kinh doanh du lịch lữ hành, thương hiệu Vietnam Travel đã có chỗ đứng trên thị trường, đồng thời tổ chức được rất nhiều chuyến đi thú vị, để lại ấn tượng sâu sắc trong lòng khách hàng. 
Ngày 8/1/2012  Liên Hiệp Các Hội Khoa Học & Kỹ Thuật Việt Nam đã quyết định vinh danh chúng tôi với  danh hiệu Vietnam Travel – Thương Hiệu Việt Uy Tín năm 2012.

MÔ HÌNH TỔ CHỨC:

a.	GIẤY PHÉP KINH DOANH
        GIẤY PHÉP LỮ HÀNH QUỐC TẾ  79 – 138/2010/TCDL – GPLHQT
b.	MÃ SỐ ĐẠI LÝ 
        MÃ SỐ ĐẠI LÝ CHÍNH THỨC VIETNAM AIRLINES : 37982136
c.	ĐƠN VỊ QUẢN LÝ
        SỞ VĂN HÓA THỂ THAO VÀ DU LỊCH THÀNH PHỐ HỒ CHÍ MINH 
2.	CHIẾN LƯỢC PHÁT TRIỂN: 
    Tầm nhìn và sứ mệnh
Sứ mệnh và tầm nhìn của chúng tôi hòa trong ý nghĩa của tên gọi Vietnam Travel.
•	Vietnam - Nguồn sống, tâm huyết và khát vọng của chúng tôi đều vì một Việt Nam văn minh và phát triển.
•	Travel - Trên mọi bước đường vươn xa, dù khó khăn hay trở ngại chúng tôi đều để lại ấn tượng đẹp trong lòng khách hàng.  
•	Chúng tôi là Vietnamtravel   
    Triết lý kinh doanh
	  Luôn tuân thủ các quy chuẩn và chất lượng dịch vụ đã cam kết với khách hàng. 
	  Đặt sự hài lòng của khách hàng làm trọng tâm cho mọi định hướng kinh doanh.
    Giá trị cốt lõi
	   Lợi ích khách hàng, công ty và nhân viên không tách rời nhau. 
	   Dịch vụ tốt là làm tốt ngay từ những việc nhỏ. 
	   Sẽ không bao giờ trở thành người dẫn đầu, nếu dễ dàng chấp nhận vị trí đang đứng.

                	</div>					
                </div>    
            
			</div>
            <!-- en main left -->
            
            <!-- main right -->
             <?php $this->load->view("menu/right_side.html")?>
                
	<!-- en bodymain -->
    
    <!-- footer -->
	<?php $this->load->view ("footer/footer.html")?>