<?php $this->load->view("header/header.html")?>
                
                <div class="content minHeight">
                
               	  <h4 class="titleALl">Giới thiệu</h4>
                    
                	<div class="alignJ">
                	<?php echo $gioithieu['content'] ?>
                	</div>					
                </div>    
            
			</div>
            <!-- en main left -->
            
            <!-- main right -->
             <?php $this->load->view("menu/right_side.html")?>
                
	<!-- en bodymain -->
    
    <!-- footer -->
	<?php $this->load->view ("footer/footer.html")?>