<div class="footer">
   	<div class="linkF">
       	<a href="<?php echo URL_HOME_ENTERPRISE ?>/home">TRANG CHỦ</a>    :    
       	<a href="<?php echo URL_HOME_ENTERPRISE ?>/gioithieu">GIỚI THIỆU</a>    :    
       	<a href="<?php echo URL_HOME_ENTERPRISE ?>/tour/trongnuoc">TOUR TRONG NƯỚC </a>   :   
       	<a href="<?php echo URL_HOME_ENTERPRISE ?>/tour/nuocngoai">TOUR NƯỚC NGOÀI</a>     :    
       	<a href="<?php echo URL_HOME_ENTERPRISE ?>/vemaybay">VÉ MÁY BAY</a>    :   
       	<a href="<?php echo URL_HOME_ENTERPRISE ?>/duhoc">DU HỌC</a>   :   
       	<a href="<?php echo URL_HOME_ENTERPRISE ?>/dichvu">DỊCH VỤ</a>    :     
<!--       	<a href="#">CHĂM  SÓC KHÁCH HÀNG</a>      :    -->
       	<a href="<?php echo URL_HOME_ENTERPRISE ?>/lienhe">LIÊN HỆ</a>
		<div class="alignC padT2">Design by Sevenart, 2012    |    
			<a href="#">www.sevenart.com.vn</a> 
		</div>
 	</div>
    <div class="copyR">
	<img src="<?php echo DIR_IMG_ENTERPRISE ?>logoF.png" class="imgF" /> 
        <div class="CR">Bản quyền của công ty Vietnam Travel 2011. Bảo lưu mọi quyền</div>
    </div>
    <div class="clr"></div>
    <div class="basic-modal-content"></div>
</div>
	<!-- en footer -->
</div></div>
</body>
</html>