<?php $this->load->view("header/header.html")?>
	
                
                <div class=" minHeight blogStudy">
                
               	  	<div><img src="<?php echo DIR_IMG_ENTERPRISE ?>bg/topDH.jpg" /></div>
                    
                    <div class="padT25 fixed">
                    	<span class="fl"><a href="#"><img src="<?php echo DIR_IMG_ENTERPRISE ?>bg/lk.png"  /></a></span>
                        <span><a href="#"><img src="<?php echo DIR_IMG_ENTERPRISE ?>bg/ch.png"  /></a></span>
                    </div>
                    
                    <div class="bgP">Đừng ngần ngại, hãy điền thông tin vào đây, chúng tôi sẽ liên lạc với bạn ngay</div>
                    
                    <div class="fromContact">
                    	<div class="col1">
                        	<label>Họ & Tên:</label> <input type="text" class="inpC1" /><br />
                            <label>Địa chỉ Email:</label> <input type="text" class="inpC1" /><br />
                        </div>
                        <div class="col2">
                        	<label>Địa chỉ:</label> <input type="text" class="inpC2" /><br />
                            <label>Điện thoại:</label> <input type="text" class="inpC2" /><br />
                        </div>
                        <div class="clr"></div>
                        <label>Nội Dung:</label>
                        <textarea class="areaC2"></textarea><br />
                        <input type="submit" class="bntC" value="Gửi" />
                    </div>
                    
                    <div class="padT20"></div>
                    				
              	</div>    
            
			</div>
            <!-- en main left -->
            
            <!-- main right -->
            <?php $this->load->view("menu/right_side.html")?>
                
	<!-- en bodymain -->
    
    <!-- footer -->
	<?php $this->load->view ("footer/footer.html")?>