<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>:::: VIETNAM TRAVEL ::::</title>
<link href="css/setup.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />



</head>

<body>

<div class="site"><div class="siteIn">

	<!-- header -->
	<div class="header fixed">
    	
        <div class="logo"><a href="#"><img src="images/logo.png"/></a></div>
        
        <div class="navTop">
        
            <div class="searchT fixed">
                  <div class="boxSearch"><input type="text" class="inpS" /><input type="submit" class="bntS" value="" /></div>
                  <a href="#" class="bntFB"></a><a href="#" class="bntTW"></a>
            </div>
            
            <div class="menuT">
               <ul>
               		<li><a href="#"><span>Trang chủ</span></a></li>
                    <li><a href="#" class="active"><span>Giới thiệu</span></a></li>
                    <li><a href="#"><span>Liên hệ</span></a></li>
               </ul>
            </div>
            
        </div>
        
        <div class="clr"></div>
       
    </div>
	<!-- en header -->
    
    <!-- bodymain -->
	<div class="bodyMain">
    	
        	<!-- main left -->
            <div class="mainLeft position">
            	
                <div class="bannerSlide"><img src="images/pic/banner.jpg" /></div>
                <div class="boxHotline">
                	<div class="inHot">(08) 3939 6969</div>
                    <div class="shadow"></div>
                </div>
                
                <div class=" minHeight blogStudy">
                
               	  	<div><img src="images/bg/topDH.jpg" /></div>
                    
                    <div class="colStudy">
                    	<div class="flag"><img src="images/pic/us.jpg" /></div>
                        <h4 class="titleSt"><a href="#">Du Học Mỹ</a></h4>
                        <div class="txtSt">
                        	Lorem ipsum dolor sit actetuer adipiscing elit. Praesent vulum molestie lacunean nonummy hendrerit mauasellus porta. Fusce suscipit varius mi. 
Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiata orci.  laoreet aliquam leo. Ut tellus 
dolor, dapibus eget, elementum vel.
cursusAv, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum
                        </div>
                        <a href="#" class="moreSt">chi tiết</a>
                    </div>
                    
                    <div class="colStudy">
                    	<div class="flag"><img src="images/pic/other.jpg" /></div>
                        <h4 class="titleSt"><a href="#">Du Học Các Nước Khác</a></h4>
                        <div class="txtSt">
                        	Lorem ipsum dolor sit actetuer adipiscing elit. Praesent vulum molestie lacunean nonummy hendrerit mauasellus porta. Fusce suscipit varius mi. 
Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiata orci.  laoreet aliquam leo. Ut tellus 
dolor, dapibus eget, elementum vel.
cursusAv, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum
                        </div>
                        <a href="#" class="moreSt">chi tiết</a>
                    </div>
                    
                    <div class="padC20"><a href="#" class="download">Download tài liệu</a></div>
                    
                    <div class="boxInfoSt">
                    	<h4 class="titleALl">Những Thông Tin cần biết khi du học</h4>
                        <ul class="listOther">
                                <li><a href="#">Aenean. Sed laoreet. Aenean pede. a</a></li>
                                <li><a href="#">Fusce elit ligula,  Aenean. Sed laoreet.</a></li>
                                <li><a href="#">Aenean. Sed laoreet. Aenean pede. Phasellus </a></li>
                                <li><a href="#">Fusce elit ligula,  Aenean. Sed laoreet.</a></li>
                                <li><a href="#">Aenean. Sed laoreet. Aenean pede. Phasellus </a></li>
                                <li><a href="#">Fusce elit ligula,  Aenean. Sed laoreete.</a></li>
                        </ul>
                    </div>
                    
                    <div class="boxInOther fixed">
                    	<ul>
                        	<li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Visa Thành Công</a></li>
                            <li><a href="#">Thông Tin mới</a></li>
                        </ul>
                        
                    </div>
                    				
              	</div>    
            
			</div>
            <!-- en main left -->
            
            <!-- main right -->
            <div class="mainRight">
            
            	<!-- categories -->
                <div class="categories">
                	<ul>
                    	<li><a href="#"><span>TOUR Nước ngoài</span></a></li>  
                        <li><a href="#"><span>TOUR trong nước</span></a></li>
                        <li><a href="#" class="active"><span>du học</span></a></li>
                        <li><a href="#"><span>vé máy bay</span></a></li>
                        <li><a href="#"><span>dịch vụ</span></a></li>
                        <li><a href="#"><span>nhật ký tour</span></a></li>
                    </ul>
                </div>
                <!-- en categories -->	
                
                
                
                <!-- blog right -->
                <div class="blogRight">
                	<div class="top2"><h4 class="titleR">Lịch khởi hành tour</h4> <a href="#" class="nn"></a> <a href="#" class="np"></a></div>
                    <div class="bgT3 celendar"><img src="images/pic/celendar.png" width="272" height="171" /></div>
                    <div class="bottom2"></div>
                </div>
                <!-- en blog right -->
                
                <!-- blog right -->
                <div class="blogRight">
                	<div class="top1"></div>
                    <div class="bgT1">
                    	<h4 class="titleR">hổ trợ trực tuyến</h4>
                        <ul class="listSupport">
                        	<li><span>Tour nước ngoài</span> <a href="#" class="icoYa"></a>  <a href="#" class="icoSk"></a></li>
                            <li><span>Tour trong nước</span> <a href="#" class="icoYa"></a>  <a href="#" class="icoSk"></a></li>
                            <li><span>Du học</span> <a href="#" class="icoYa"></a>  <a href="#" class="icoSk"></a></li>
                            <li><span>Dịch vụ</span> <a href="#" class="icoYa"></a>  <a href="#" class="icoSk"></a></li>
                            <li><span>Vé máy bay</span> <a href="#" class="icoYa"></a>  <a href="#" class="icoSk"></a></li>
                        </ul>
                        <div class="clr"></div>
                    </div>
                    
                    <div class="bottom4"></div>
                </div>
                <!-- en blog right -->
                
                <div class="blogVideo"><img src="images/pic/clip.jpg" width="282" height="239" /></div>
                
                <div class="bannerRight"><a href="#"><img src="images/pic/bannerDH1.jpg" /></a></div>
                
                <div class="bannerRight"><a href="#"><img src="images/pic/bannerDH2.jpg" /></a></div>
                
                
            </div>
            <!-- en main right -->
            <div class="clr"></div>
        
    </div>
	<!-- en bodymain -->
    
    <!-- footer -->
	<div class="footer">
 
        	<div class="linkF">
            	<a href="#">TRANG CHU</a>    :    <a href="#">GIOI THIEU</a>    :    <a href="#">TOUR TRONG NUOC </a>   :   <a href="#">TOUR NUOC NGOAI</a>     :    <a href="#">VE MAY BAY</a>    :   <a href="#">DU HOC</a>   :   <a href="#">DICH VU</a>    :     <a href="#">CHAM  SOC KHAC HANG</a>      :    <a href="#">LIEN HE</a>
<div class="alignC padT2">Design by Sevenart, 2012    |    <a href="#">www.sevenart.com.vn</a> </div>
      </div>
            <div class="copyR">
      			<img src="images/logoF.png" class="imgF" /> 
                <div class="CR">Bản quyền của công ty Vietnam Travel 2011. Bảo lưu mọi quyền</div>
            </div>
            <div class="clr"></div>
    </div>
	<!-- en footer -->
    
</div></div>
   
</body>
</html>
