<?php $this->load->view("header/header.html")?>
                
                <div class=" minHeight blogStudy">
                
               	  	<div><img src="images/bg/topDH.jpg" /></div>
                    
                    <div class="colStudy">
                    	<div class="flag"><img src="images/pic/us.jpg" /></div>
                        <h4 class="titleSt"><a href="#">Du Học Mỹ</a></h4>
                        <div class="txtSt">
                        	<?php echo $duhoc_detail_des[1]?>
                        </div>
                        <a href="duhoc/my" class="moreSt">chi tiết</a>
                    </div>
                    
                    <div class="colStudy">
                    	<div class="flag"><img src="images/pic/other.jpg" /></div>
                        <h4 class="titleSt"><a href="#">Du Học Các Nước Khác</a></h4>
                        <div class="txtSt">
                        	<?php echo $duhoc_detail_des[1]?>
                        </div>
                        <a href="duhoc/other" class="moreSt">chi tiết</a>
                    </div>
                    
                    <div class="padC20"><a href="<?php echo $link_tai_lieu['link'] ?>" class="download">Download tài liệu</a></div>
                    
                    <div class="boxInfoSt">
                    	<h4 class="titleALl">Những Thông Tin cần biết khi du học</h4>
                        <ul class="listOther">
                        		<?php foreach($nhung_dieu_can_biet as $index => $one){?>
                        			<li><a href="<?php echo $one['link']?>"><?php echo $one['title']?></a></li>
                        		<?php } ?>
                        </ul>
                    </div>
                    
                    <div class="boxInOther fixed">
                    	<ul>
                        	<li><a href="javascript:duhoc('gioithieu')">Giới thiệu</a></li>
                            <li><a href="javascript:duhoc('visa')">Visa Thành Công</a></li>
                            <li><a href="javascript:duhoc('news')">Thông Tin mới</a></li>
                        </ul>
                        
                    </div>
                    				
              	</div>    
            
			</div>
            <!-- en main left -->
            
            <!-- main right -->
            <?php $this->load->view("menu/right_side.html")?>
                
	<!-- en bodymain -->
    
    <!-- footer -->
	<?php $this->load->view ("footer/footer.html")?>