<?php $this->load->view("header/header.html")?>
                <div class="content minHeight">
             
                <!-- blog services -->
                <h4 class="titleALl"><?php echo $faq['description']?></h4>
                
                	<div class="blogSer">
                	
                    <div class="picTour"></div>
                    <div class="infoTour">
<!--                    	<div class="title"><?php echo $one['description']?> </div>-->
                        <div class="txt1"><?php echo $faq['content']?></div>
						
                    </div>  
                </div>
                
   
               
                <!-- en blog services -->
                
                </div>
            
			</div>
            <!-- en main left -->
            
            <!-- main right -->
            <?php $this->load->view("menu/right_side.html")?>
                
	<!-- en bodymain -->
    
    <!-- footer -->
	<?php $this->load->view ("footer/footer.html")?>